<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission details</title>

    <link rel="stylesheet" href="css/show.css">
</head>
<body>
    <div class="container">
        <h1>Assignment Submission Record</h1>
        <div class="showbox">
            <table class="table">
                <tr>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Phone number</th>
                    <th>Discord Name</th>
                    <th>Challenge Topic</th>
                    <th>Submission Link</th>
                </tr>
                
                <% allData.forEach(forms => { %>
                    <tr>
                        <td><%= forms.email %></td>
                        <td><%= forms.fullname %></td>
                        <td><%= forms.phone %></td>
                        <td><%= forms.discordname %></td>
                        <td><%= forms.challenge %></td>
                        <td><%= forms.link %></td>
                    </tr>
                 <% }) %>   
            </table>
        </div>
    </div>
</body>
</html>